.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #F3F5fC;
}

.container img{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 16.66%;
    top: 16.4%;
    border: none;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #F3F5fC;
}

.texto::placeholder{
    color: #0a3871;
}

.texto:focus,
.texto:active{
    border: none;
    outline: none;
}

.condicion{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 16.66%;
    top: 80%;
}

.condicion p{
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0; 
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 16.66%;
    top: 82%;
}

.btn-encriptar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap:8px;
    width: 48.2%;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #ffff;
}

.btn-desencriptar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap:8px;
    width: 48.2%;
    background-color: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;
    margin-left: 2%;
}

.btn-encriptar:hover ,
.btn-desencriptar:hover,
.btn-copiar:hover{
    transform:scale(1.08);
}

.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 27.7%;
    height: 92.2%;
    left: 69.44%;
    top: 5%;
    background: #ffff;
    float:inline-end;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
    border-radius: 32px;
}

.mensaje{
    display: flexbox;
    justify-content: center;
    position: absolute;
    width: 90%;
    height: 92.2%;
    left: 5%;
    top: 5%;
    border: none;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.encriptado img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 10%;
}

.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 64.33%;
    text-align: center;
}

.mensaje-encriptado h2{
    width: 60%;
    font-family: "inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

.mensaje-encriptado p{
    width: 75%;
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.btn-copiar{
    display: none;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap:8px;
    width: 84%;
    background-color: #ffffff;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "inter";
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}